<footer>
  <div class="referencias">
    <div class="referenciasWrap">
      <ul class="footer-izq">
        <li><a href="/">Advice</a></li>
        <li><a href="/">Payment methods</a></li>
        <li><a href="/">Privacy and use policies</a></li>
      </ul>
      <ul class="footer-der">
        <li><a href="/">Legals</a></li>
        <li><a href="/">Frequent questions</a></li>
        <li><a href="/">Work with us</a></li>
      </ul>
    </div>

    <a href="/"><img class="logoFooter" src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
  </div>
  <div class="copyright">
    <p>2023 ImpactX - All rights reserved</p>
  </div>
  </div>
</footer>