<footer>
  <!-- <div class="redes">
    <div class="head-redes">
      <p>¡Encontranos en nuestras redes!</p>
    </div>
    <ul class="links-redes">
      <li>
        <a href="https://linkedin.com/ImpactXServices" target="_blank"><img class="logoFooterTop" src="/img/linkedin-logo.png" alt="Logo Linkedin" /></a>
      </li>
      <li>
        <a href="https://www.youtube.com/ImpactXServices" target="_blank"><img class="logoFooterTop" src="/img/youtube-logo.png" alt="Logo Youtube" /></a>
      </li>
      <li>
        <a href="https://www.twitter.com/ImpactXServices" target="_blank"><img class="logoFooterTop" src="/img/twitter-logo.png" alt="Logo Twitter" /></a>
      </li>
    </ul>
  </div> -->
    <div class="referencias">
        <div class="referenciasWrap">
          <ul class="footer-izq">
            <li><a href="/">Asesoramiento</a></li>
            <li><a href="/">Medios de pago</a></li>
            <li><a href="/">Politicas de privacidad y uso</a></li>
          </ul>
          <ul class="footer-der">
            <li><a href="/">Legales</a></li>
            <li><a href="/">Preguntas Frecuentes</a></li>
            <li><a href="/">Trabaja con nosotros</a></li>
          </ul>
        </div>

        <a href="/"><img class="logoFooter" src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
      </div>
      <div  class="copyright">
        <p>2023 ImpactX - Todos los derechos reservados</p>
      </div>
    </div>
</footer>