<footer>
  <div class="referencias">
    <div class="referenciasWrap">
      <ul class="footer-izq">
        <li><a href="/">Advice</a></li>
        <li><a href="/">Payment methods</a></li>
        <li><a href="/">Privacy and use policies</a></li>
      </ul>
      <ul class="footer-der">
        <li><a href="/">Legals</a></li>
        <li><a href="/">Frequent questions</a></li>
        <li><a href="/">Work with us</a></li>
      </ul>
    </div>

    <div class="githubWrapper">
      <a target="_blank" href="https://github.com/Juanmaanghilante/Grupo-3-ImpactX.git">
        <svg width="170" height="166" viewBox="0 0 170 166" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M85 0C38.0375 0 0 38.0375 0 85C0 122.613 24.3312 154.381 58.1187 165.644C62.3687 166.388 63.9625 163.838 63.9625 161.606C63.9625 159.588 63.8563 152.894 63.8563 145.775C42.5 149.706 36.975 140.569 35.275 135.788C34.3187 133.344 30.175 125.8 26.5625 123.781C23.5875 122.188 19.3375 118.256 26.4563 118.15C33.15 118.044 37.9313 124.313 39.525 126.863C47.175 139.719 59.3938 136.106 64.2813 133.875C65.025 128.35 67.2562 124.631 69.7 122.506C50.7875 120.381 31.025 113.05 31.025 80.5375C31.025 71.2938 34.3188 63.6438 39.7375 57.6938C38.8875 55.5688 35.9125 46.8563 40.5875 35.1688C40.5875 35.1688 47.7063 32.9375 63.9625 43.8813C70.7625 41.9688 77.9875 41.0125 85.2125 41.0125C92.4375 41.0125 99.6625 41.9688 106.463 43.8813C122.719 32.8313 129.838 35.1688 129.838 35.1688C134.513 46.8563 131.538 55.5688 130.688 57.6938C136.106 63.6438 139.4 71.1875 139.4 80.5375C139.4 113.156 119.531 120.381 100.619 122.506C103.7 125.163 106.356 130.263 106.356 138.231C106.356 149.6 106.25 158.738 106.25 161.606C106.25 163.838 107.844 166.494 112.094 165.644C128.969 159.949 143.632 149.104 154.02 134.637C164.408 120.171 169.997 102.81 170 85C170 38.0375 131.963 0 85 0Z" fill="white"/>
          </svg>
      </a>
      <p>
        Check our repo
      </p>
    </div>

    <a href="/"><img class="logoFooter" src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
  </div>
  <div class="copyright">
    <p>2023 ImpactX - All rights reserved</p>
  </div>
  </div>
</footer>