<header>
  <div class="logo">
    <a href="/"><img src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
  </div>
  <a class="shopping-cart" href="/cart">
    <i class="fas fa-shopping-cart"></i>
  </a>
  <a class="burger-menu" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <nav class="menu">
    <ul>
      <li><a href="/#nosotros">Nosotros</a></li>
      <li><a href="/productos">Producto</a></li>
      <li><a href="/#contacto">Contacto</a></li>
      <li class="ingresar"><a href="/login">Ingresar</a></li>
      <li class="registrarse"><a href="/signup">Registrarse</a></li>
    </ul>
  </nav>
</header>