<header>


    
    <div class="contenedorIzq">
      <a href="/"><img src="/img/logo-impactx.png" class="logoHeader" alt="Logo ImpactX" /></a>
      <nav id="navPrincipal" >
        <svg class="closeBtn" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
          <path d="M39.596 0L22.624 16.968L5.656 0L0 5.656L16.968 22.624L0 39.592L5.656 45.248L22.624 28.28L39.596 45.248L45.252 39.592L28.284 22.624L45.252 5.656L39.596 0Z" fill="black"/>
          </svg>
          
        <ul>
          <li><a href="/#nosotros">Nosotros</a></li>
          <li><a href="/#contacto">Contacto</a></li>  
          <li><a href="/productos">Productos</a></li>
        <% if (locals.isLogged) { %>
          <% if (locals.userLogged.category=="Admin" ) { %>   
          <li><a href="/user/list">Usuarios</a></li>  
          <% } %>        
        <% } %>
        </ul>
      </nav>
    </div>


    <div class="svgContainer">
      
      <nav class="contenedorNavDos">
        <ul>
          <% if (!locals.isLogged) { %>
              <li><a href="/user/login">Iniciar Sesión</a></li>

          <% } else  { %>
              <!-- <img class="perfilPic" src="/img/<%= locals.userLogged.imagen %>" alt=""> -->
              <li><a href="/user/profile"><%= locals.userLogged.name %> </a></li>
              <li><a href="/user/logout">Cerrar Sesión</a></li>   
              <% } %>
            </ul>   
      </nav>

<!--       
      <% if (locals.isLogged) { %>
        <p>.</p>
       <% } %> -->

       <a href="/user/login">
        <svg class="svgProfile" width="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 22H4V20C4 18.6739 4.52678 17.4021 5.46447 16.4645C6.40215 15.5268 7.67392 15 9 15H15C16.3261 15 17.5979 15.5268 18.5355 16.4645C19.4732 17.4021 20 18.6739 20 20V22ZM12 13C11.2121 13 10.4319 12.8448 9.7039 12.5433C8.97595 12.2417 8.31451 11.7998 7.75736 11.2426C7.20021 10.6855 6.75825 10.0241 6.45672 9.2961C6.15519 8.56815 6 7.78793 6 7C6 6.21207 6.15519 5.43185 6.45672 4.7039C6.75825 3.97595 7.20021 3.31451 7.75736 2.75736C8.31451 2.20021 8.97595 1.75825 9.7039 1.45672C10.4319 1.15519 11.2121 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7C18 8.5913 17.3679 10.1174 16.2426 11.2426C15.1174 12.3679 13.5913 13 12 13Z" fill="black"/>
          </svg>
       </a>

          
        
        <% if (locals.isLogged) { %>
            <a href="/cart">
              <svg class="svgCart" width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 22C6.45 22 5.979 21.804 5.587 21.412C5.195 21.02 4.99933 20.5493 5 20C5 19.45 5.196 18.979 5.588 18.587C5.98 18.195 6.45067 17.9993 7 18C7.55 18 8.021 18.196 8.413 18.588C8.805 18.98 9.00067 19.4507 9 20C9 20.55 8.804 21.021 8.412 21.413C8.02 21.805 7.54933 22.0007 7 22ZM17 22C16.45 22 15.979 21.804 15.587 21.412C15.195 21.02 14.9993 20.5493 15 20C15 19.45 15.196 18.979 15.588 18.587C15.98 18.195 16.4507 17.9993 17 18C17.55 18 18.021 18.196 18.413 18.588C18.805 18.98 19.0007 19.4507 19 20C19 20.55 18.804 21.021 18.412 21.413C18.02 21.805 17.5493 22.0007 17 22ZM6.15 6L8.55 11H15.55L18.3 6H6.15ZM5.2 4H19.95C20.3333 4 20.625 4.171 20.825 4.513C21.025 4.855 21.0333 5.20067 20.85 5.55L17.3 11.95C17.1167 12.2833 16.8707 12.5417 16.562 12.725C16.2533 12.9083 15.916 13 15.55 13H8.1L7 15H19V17H7C6.25 17 5.68333 16.6707 5.3 16.012C4.91667 15.3533 4.9 14.6993 5.25 14.05L6.6 11.6L3 4H1V2H4.25L5.2 4Z" fill="black"/>
                </svg>
            </a>
         <% } %> 

      <svg class="svgMenu" width="31" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 24.3733V20.3111H31V24.3733H0ZM0 14.2178V10.1556H31V14.2178H0ZM0 4.06222V0H31V4.06222H0Z" fill="black"/>
        </svg> 

    </div>








<!-- 

  <div class="logo">
    <a href="/"><img src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
  </div>
  <a class="shopping-cart" href="/cart">
    <i class="fas fa-shopping-cart"></i>
  </a>
  <a class="burger-menu" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
  
  <nav class="menu">
    <ul>
      <li><a href="/#nosotros">Nosotros</a></li>
      <li><a href="/#contacto">Contacto</a></li>  
      <li><a href="/productos">Productos</a></li>
    <% if (locals.isLogged) { %>
      <% if (locals.userLogged.category=="Admin" ) { %>   
      <li><a href="/user/list">Usuarios</a></li>  
      <% } %>        
      <img class="perfilPic" src="/img/<%= locals.userLogged.imagen %>" alt="">
      <li class="ingresar"><a href="/user/profile"> Hola, <%= locals.userLogged.name %> </a></li>
      <li class="registrarse"><a href="/user/logout">Cerrar Sesión</a></li>
    <% } else  { %>
        <li class="ingresar"><a href="/user/login">Ingresar</a></li>
        <li class="registrarse"><a href="/user/signup">Registrarse</a></li>
    <% } %>
    </ul>
  </nav> -->
  
</header>