<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title:"Page not found"})%>

    <body>

        <%- include('./partials/header')%>
        <div class="error404">

            <img class="error404-image" src="/img/error404.svg" alt="Error 404">

            <div><p class="error404-message">Lo sentimos, la página que busca no se encuentra disponible o no existe</p></div>

            <a class="error404-home-button" href="/">Volver al Inicio</a>

        </div>
        
        <%- include('./partials/footer')%>
    

        
      <script>
        const menu = document.querySelector('.svgMenu')
        const close = document.querySelector('.closeBtn')
        const nav = document.querySelector('#navPrincipal')

        menu.addEventListener('click', () => {
          nav.classList.add('open-nav')
        })
        close.addEventListener('click', () => {
          nav.classList.remove('open-nav')
        })
      </script>
    </body>

</html>