<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/prueba.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div>
            
            <ul>
                <li>Asesoramiento</li>
                <li>Medios de pago</li>
                <li>Politicas de privacidad y uso</li>
            </ul>

            <ul>
                <li>Legales</li>
                <li>Preguntas Frecuentes</li>
                <li>Trabaja con nosotros</li>
            </ul>
            
            <p>¡Encontranos en nuestra redes!</p>

            <a href="https://twitter.com/ImpactXServices">Twitter</i></a>

            <a href="https://www.instagram.com/ImpactXServices">Instagram</i></a>

            <a href="https://www.facebook.com/ImpactXServices">Facebook</i></a>

            <a href="https://www.youtube.com/ImpactXServices">Youtube</a>



            <p>2023 ImpactX - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>