<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title:"home"})%>

  <body>
    <%- include('./partials/header')%>
      <main>
        <div class="formulario-new-producto">
          <img class="imagen-formp" src="../img/logo-impactx.ico">

          <h2 class="sesion-admin">SESION ADMINISTRADOR</h2>
          <form class="form" action="#" method="post">
            <div>
              <input required name="nombreProducto" id="nombreProducto" type="text" placeholder="Nombre Producto"
                maxlength="40" />
            </div>

            <div>
              <textarea name="descripcion" placeholder="inserte aqui una descripcion del producto/servicio nuevo"
                id="descripcionProducto" cols="30" rows="10"></textarea>


            </div>





            <div class="contenedorPerfilRegistro">
              <label class="label-agregar-img" for="imagenProducto"><i class="fa-solid fa-cloud-arrow-up"></i>Agregar
                Imagen</label>
              <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg" multiple />
            </div>
            <div>
              <input required type="text" id="precio" name="precio" placeholder="Precio producto" maxlength="10" />
            </div>
            <input type="submit" value="Registrarme">
            </input>
          </form>
        </div>
      </main>
      <%- include('./partials/footer')%>




  </body>

</html>