<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"home"})%>
<body>
  <%- include('./partials/header')%>
  <form class="form" action="#" method="post">
    <div>
      <input
        required
        name="nombreProducto"
        id="nombreProducto"
        type="text"
        placeholder="Nombre Producto"
        maxlength="40"
      />
    </div>
    <div>
      <input
        required
        name="descripcion"
        id="descripcionProducto"
        type="text"
        placeholder="Descripción"
        maxlength="40"
      />
    </div>
    <div class="contenedorPerfilRegistro">
      <label for="profilePic">Agregar Imagen</label>
      <input
        type="file"
        name="imagenProducto"
        id="imagenProducto"
        accept=".jpg"
        multiple
      />
    </div>
    <div>
      <input      
        required
        type="text"
        id="precio"
        name="precio"
        placeholder="Precio producto"
        maxlength="10"
      />
    </div>
    <input type="submit" value="Registrarme">
    </input>
  </form>
  <%- include('./partials/footer')%>
 </div>
</body>
</html>