<header>
    <div class="logo">
        <a href="/"><img src="" alt="Logo ImpactX"></a>
    </div>
    <nav>
        <ul>
            <li> <a href="">Nosotros</a></li>
            <li><a href="">Producto</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Registrarse</a></li>
        </ul>
    </nav>
    <div class="shopping-cart">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>