<!-- 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/prueba.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
-->

<header>
    <div class="logo">
        <a href="/"><img src="" alt="Logo ImpactX"></a>
    </div>
    <nav>
        <ul>
            <li> <a href="">Nosotros</a></li>
            <li><a href="">Producto</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Registrarse</a></li>
        </ul>
    </nav>
    <div class="shopping-cart">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>