<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <title>ImpactX | Home</title>
  </head>

  <body>
    <!-- <header>
      <div class="logo">
        <a href="/"><img src="" alt="Logo ImpactX" /></a>
      </div>
      <nav>
        <ul>
          <li><a href="">Nosotros</a></li>
          <li><a href="">Producto</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Registrarse</a></li>
        </ul>
      </nav>
      <div class="shopping-cart">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </div>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header> -->

    <section class="heroSection">
      <img class="heroImg" src="/img/hero-img.jpg" alt="">  
      <div class="contenedorInfoHero">
          <div class="contenedorTexto">
            <h1>Integramos tu negocio.</h1>
            <h2>Vos, escalá.</h2>
          </div>
          <p class="subHeading">Generamos ideas poderosas y sistemas sólidos para impulsar el éxito de
          tu marca en el mercado.</p>
          <div>
            <a class="botonContactanos" href="">Contactanos</a>
            <a class="botonVerMas" href="">Ver mas</a>
          </div>
        </div>
        
    </section>

    <section class="seccionQuienesSomos">
      <img src="/img/quienesSomos.jpg" alt="Imagen de quienes somos" />
      <h2>Quienes Somos</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, vel.
      </p>
      <a href="">Nuestra Historia</a>
    </section>

    <section>
      <h2>Nuestros Servicios</h2>
      <article>
        <img src="#" alt="" />
        <h3>Social Media Management</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article>
        <img src="#" alt="" />
        <h3>Producción Audiovisual</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article>
        <img src="#" alt="" />
        <h3>Atención al cliente</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article>
        <img src="#" alt="" />
        <h3>Mantenimiento</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>

      <h2>Nuestros productos</h2>
      <article>
        <img src="#" alt="" />
        <h3>Sistemas para comercios</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article>
        <img src="#" alt="" />
        <h3>sistemas personalizados</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article>
        <img src="#" alt="" />
        <h3>Sistemas concesionarias</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </article>
    </section>

    <section class="confiaron">
      <h2>¿Quienes confiaron en nosotros</h2>
      <div class="imagenes">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
    </section>

    <section class="formulario-contacto">
      <h2>Contactanos</h2>
      <form action="#" method="POST">
        <label for="">Nombre</label>
        <input
          type="text"
          placeholder="Nombre"
          maxlength="30"
          name="nombre"
          required
        />

        <label for="">Apellido</label>
        <input
          type="text"
          placeholder="Apellido"
          maxlength="30"
          name="apellido"
          required
        />

        <label for="">Correo Electrónico</label>
        <input
          type="email"
          placeholder="Correo Electrónico"
          name="correo"
          maxlength="100"
          required
        />
        <label>¡Dejanos tu mensaje!</label>
        <textarea class="form-control" rows="5" name="mensaje"></textarea>
        <button type="submit" class="botonContactanos">Enviar</button>
      </form>
    </section>

    <footer>
      <div>
          <ul>
              <li>Asesoramiento</li>
              <li>Medios de pago</li>
              <li>Politicas de privacidad y uso</li>
          </ul>

          <ul>
              <li>Legales</li>
              <li>Preguntas Frecuentes</li>
              <li>Trabaja con nosotros</li>
          </ul>
          
          <p>¡Encontranos en nuestra redes!</p>

          <a href="https://twitter.com/ImpactXServices" target="_blank
          ">Twitter</i></a>
          <a href="https://www.instagram.com/ImpactXServices" target="_blank">Instagram</i></a>
          <a href="https://www.facebook.com/ImpactXServices" target="_blank">Facebook</i></a>
          <a href="https://www.youtube.com/ImpactXServices" target="_blank">Youtube</a>

          <p>2023 ImpactX - Todos los derechos reservados</p>
      </div>
  </footer>
  </body>
</html>
