<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/7c76cda882.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css" />
  <title>ImpactX | Home</title>
  <link rel="shortcut icon" href="/img/logo-impactx.ico" />
</head>

<body>
  <!--
    <header>
      <div class="logo">
        <a href="/"><img src="/img/logo-impactx.png" alt="Logo ImpactX" /></a>
      </div>
      <a class="shopping-cart" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <a class="burger-menu" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <nav class="menu">
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="/product">Producto</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registrarse</a></li>
        </ul>
      </nav>
    </header>-->
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="/img/logo-impactx.png" class="logo">
      <h2 class="copy-header">
        <i class="fa-solid fa-cloud-arrow-up"></i>
        Integramos tu negocio, vos escalá
      </h2>
    </div>
    <a href="#" class="hamburguer-buttom">
      <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Productos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
      <ul class="right-navbar">
        <li><a href="/signup">Registrarse <i class="fa-solid fa-credit-card"></i></a></li>
        <li><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="/carrito">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </nav>
  </header>

  <section class="heroSection">
    <div class="heroImg">
      <div class="contenedorInfoHero">
        <div class="contenedorTexto">
          <h1><strong>INTEGRAMOS</strong> TU NEGOCIO.</h1>
          <h2>Vos, <strong>escalá.</strong></h2>
          <p class="subHeading">
            Generamos ideas poderosas y sistemas sólidos para impulsar el
            éxito de tu marca en el mercado.
          </p>
        </div>
        <div>
          <a class="botonContactanos" href="">Contactanos</a>
          <a class="botonVerMas" href="">Ver mas</a>
        </div>
      </div>
    </div>
  </section>

  <section class="seccionServiciosProductos">
    <div class="containerServicios">
      <div class="containerTextoServicios">
        <h2>Nuestros Servicios</h2>
        <p>Nuestro negocio es ayudar a tu negocio a ser mejor.</p>
      </div>

      <div class="tarjetasServiciosProductos">
        <article>
          <h3>Social Media Management</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet rem
            ratione ea.
          </p>
        </article>
        <article>
          <h3>Producción Audiovisual</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
          <h3>Atención al cliente</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
          <h3>Mantenimiento</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
      </div>
    </div>

    <div class="containerpProductos">
      <div class="containerTextoServicios containerTextoProductos">
        <h2>Nuestros Productos</h2>
        <p>Nuestro negocio es ayudar a tu negocio a ser mejor.</p>
      </div>
      <div class="tarjetasServiciosProductos">
        <article>
          <h3>Sistemas para comercios</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
          <h3>Sistemas personalizados</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
          <h3>Sistemas concesionarias</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
      </div>
    </div>
  </section>

  <section class="seccionQuienesSomos">
    <img class="imagenQuienesSomos" src="/img/quienesSomos.jpg" alt="Imagen de quienes somos" />
    <div class="containerTextoQuienesSomos">
      <h2>¿Quienes Somos?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
        suscipit dignissimos in, praesentium culpa commodi optio, voluptate
        veritatis placeat vero facere ad veniam neque molestias id, similique
        autem velit natus quaerat saepe dolorum nesciunt inventore repellat.
        Corporis velit suscipit expedita eos officia deserunt, nisi dolorum
        animi unde dicta nostrum excepturi.
      </p>
    </div>
  </section>

  <section class="seccionConfiaron">
    <h2>¿Quienes confían en nosotros?</h2>
    <div class="imagenes">
      <img src="/img/jesusLogo.png" alt="Jesus Cars Logo" />
      <img src="/img/spacexLogo.png" alt="Space X Logo" />
      <img src="/img/neuralinkLogo.png" alt="Neuralink Logo" />
      <img src="/img/globantLogo.png" alt="Globant Logo" />
      <img src="/img/accentureLogo.png" alt="sdsd" />
    </div>
  </section>

  <section class="formulario-contacto">
    <h2>Contactanos</h2>
    <form action="#" method="POST">
      <label for="">Nombre</label>
      <input type="text" placeholder="Nombre" maxlength="30" name="nombre" required />

      <label for="">Apellido</label>
      <input type="text" placeholder="Apellido" maxlength="30" name="apellido" required />

      <label for="">Correo Electrónico</label>
      <input type="email" placeholder="Correo Electrónico" name="correo" maxlength="100" required />
      <label>¡Dejanos tu mensaje!</label>
      <textarea class="form-control" rows="5" name="mensaje"></textarea>
      <button type="submit" class="botonContactanos">Enviar</button>
    </form>
  </section>

  <footer>
    <div class="referencias">
      <ul class="footer-izq">
        <li><a href="/">Asesoramiento</a></li>
        <li><a href="/">Medios de pago</a></li>
        <li><a href="/">Politicas de privacidad y uso</a></li>
      </ul>
      <ul class="footer-der">
        <li><a href="/">Legales</a></li>
        <li><a href="/">Preguntas Frecuentes</a></li>
        <li><a href="/">Trabaja con nosotros</a></li>
      </ul>
    </div>
    <div class="redes">
      <div class="head-redes">
        <p>¡Encontranos en nuestras redes!</p>
      </div>
      <ul class="links-redes">
        <li>
          <a href="https://twitter.com/ImpactXServices" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/ImpactXServices" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/ImpactXServices" target="_blank">Facebook</a>
        </li>
        <li>
          <a href="https://www.youtube.com/ImpactXServices" target="_blank">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>2023 ImpactX - Todos los derechos reservados</p>
    </div>
  </footer>
</body>

</html>