<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <section>
        <h1>
            "Generamos ideas poderosas y sistemas sólidos para impulsar el éxito de
            tu marca en el mercado."
        </h1>
        <p>¿Estas listo para despegar?</p>
        <button><a href="">Ver mas</a></button>
    </section>

    <section>
        <img src="#" alt="Imagen de quienes somos" />
        <h2>Quienes Somos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, vel.
        </p>
        <a href="">Nuestra Historia</a>
    </section>

    <section>
        <h2>Nuestros Servicios</h2>
        <article>
            <img src="#" alt="" />
            <h3>Social Media Management</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <img src="#" alt="" />
            <h3>Producción Audiovisual</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <img src="#" alt="" />
            <h3>Atención al cliente</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <img src="#" alt="" />
            <h3>Mantenimiento </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>

        <h2>Nuestros productos</h2>
        <article>
            <img src="#" alt="" />
            <h3>Sistemas para comercios</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <img src="#" alt="" />
            <h3>sistemas personalizados</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article>
            <img src="#" alt="" />
            <h3>Sistemas concesionarias </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </article>


    </section>
    <section>
        <h2>¿ quienes confiaron en nosotros</h2>
        <img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt="">
    </section>

</body>

</html>