<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"home"})%>

  <body>
    <%- include('./partials/header')%>
    <section class="heroSection">
      <div class="heroImg">
        <div class="contenedorInfoHero">
          <div class="contenedorTexto">
            <h1><strong>INTEGRAMOS</strong> TU NEGOCIO.</h1>
            <h2>Vos, <strong>escalá.</strong></h2>
            <p class="subHeading">
              Generamos ideas poderosas y sistemas sólidos para impulsar el
              éxito de tu marca en el mercado.
            </p>
          </div>
          <div>
            <a class="botonContactanos" href="">Contactanos</a>
            <a class="botonVerMas" href="">Ver mas</a>
          </div>
        </div>
      </div>
    </section>

    <section class="seccionServiciosProductos">
      <div class="containerServicios">
        <div class="containerTextoServicios">
          <h2>Nuestros Servicios</h2>
          <p>Nuestro negocio es ayudar a tu negocio a ser mejor.</p>
        </div>

        <div class="tarjetasServiciosProductos">
          <article>
            <h3>Social Media Management</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet rem
              ratione ea.
            </p>
          </article>
          <article>
            <h3>Producción Audiovisual</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
          <article>
            <h3>Atención al cliente</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
          <article>
            <h3>Mantenimiento</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
        </div>
      </div>

      <div class="containerpProductos">
        <div class="containerTextoServicios containerTextoProductos">
          <h2>Nuestros Productos</h2>
          <p>Nuestro negocio es ayudar a tu negocio a ser mejor.</p>
        </div>
        <div class="tarjetasServiciosProductos">
          <article>
            <h3>Sistemas para comercios</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
          <article>
            <h3>Sistemas personalizados</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
          <article>
            <h3>Sistemas concesionarias</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </article>
        </div>
      </div>
    </section>

    <section class="seccionQuienesSomos" id="nosotros">
      <img
        class="imagenQuienesSomos"
        src="/img/quienesSomos.jpg"
        alt="Imagen de quienes somos"
      />
      <div class="containerTextoQuienesSomos" id="nosotros">
        <h2>¿Quienes Somos?</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
          suscipit dignissimos in, praesentium culpa commodi optio, voluptate
          veritatis placeat vero facere ad veniam neque molestias id, similique
          autem velit natus quaerat saepe dolorum nesciunt inventore repellat.
          Corporis velit suscipit expedita eos officia deserunt, nisi dolorum
          animi unde dicta nostrum excepturi.
        </p>
      </div>
    </section>

    <section class="seccionConfiaron">
      <h2>¿Quienes confían en nosotros?</h2>
      <div class="imagenes">
        <img src="/img/jesusLogo.png" alt="Jesus Cars Logo" />
        <img src="/img/spacexLogo.png" alt="Space X Logo" />
        <img src="/img/neuralinkLogo.png" alt="Neuralink Logo" />
        <img src="/img/globantLogo.png" alt="Globant Logo" />
        <img src="/img/accentureLogo.png" alt="sdsd" />
      </div>
    </section>

    <section class="formulario-contacto" id="contacto">
      <h2>Contactanos</h2>
      <form action="#" method="POST">
        <label for="">Nombre</label>
        <input
          type="text"
          placeholder="Nombre"
          maxlength="30"
          name="nombre"
          required
        />

        <label for="">Apellido</label>
        <input
          type="text"
          placeholder="Apellido"
          maxlength="30"
          name="apellido"
          required
        />

        <label for="">Correo Electrónico</label>
        <input
          type="email"
          placeholder="Correo Electrónico"
          name="correo"
          maxlength="100"
          required
        />
        <label>¡Dejanos tu mensaje!</label>
        <textarea class="form-control" rows="5" name="mensaje"></textarea>
        <button type="submit" class="botonContactanos">Enviar</button>
      </form>
    </section>

    <%- include('./partials/footer')%>
  </body>
</html>
