<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"home"})%>

  <body>
    <%- include('./partials/header')%>
    <div class="bodyProductos">
      <div class="cadaProducto">
        <h1 class="nombreProducto">Sistemas para comercios</h1>
        <a href="/detalle">
          <img class="picture" src="/img/productImage.jpeg" alt="imagen1"
        /></a>
        <p>Queres aprender mas?</p>
        <p>$10.000</p>
      </div>
      <div class="cadaProducto">
        <h1 class="nombreProducto">Sistemas personalizados</h1>
        <a href="/detalle">
          <img class="picture" src="/img/productImage.jpeg" alt="imagen2"
        /></a>
        <p>Queres aprender mas?</p>
        <p>$10.000</p>
      </div>
      <div class="cadaProducto">
        <h1 class="nombreProducto">Sistemas concesionarias</h1>
        <a href="/detalle">
          <img class="picture" src="/img/productImage.jpeg" alt="imagen3"
        /></a>
        <p>Queres aprender mas?</p>
        <p>$10.000</p>
      </div>
    </div>
    <%- include('./partials/footer')%>
  </body>
</html>
