<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"Login"})%>

  <body class="bodySignUp">
    <%- include('./partials/header')%>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo-impactx.png" class="logo" />
        <h2 class="copy-header">
          <i class="fa-solid fa-cloud-arrow-up"></i>
          Integramos tu negocio, vos escalá
        </h2>
      </div>
      <a href="#" class="hamburguer-buttom">
        <i class="fa-solid fa-bars"></i>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/listado">Productos</a></li>
          <li><a href="/#nosotros">Nosotros</a></li>
          <li><a href="/#contactos">Contactos</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/signup"
              >Registrarse <i class="fa-solid fa-credit-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresar <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="/carrito"
              >Mis compras <i class="fas fa-shopping-cart"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <form action="/ingresar-usuario" method="POST" class="create-form">
      <div class="content">
        <div>
          <h2 class="titulo-registrar-usuario">Log in</h2>
          <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
        </div>
        <div>
          <div class="control-formulario">
            <input
              type="text"
              name="usuario"
              class="control"
              placeholder="Usuario"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="password"
              name="password"
              class="control"
              placeholder="Contraseña"
              required
            />
          </div>
          <button type="submit" class="boton-formulario">Ingresar</button>
        </div>
      </div>
    </form>
    <%- include('./partials/footer')%>
  </body>
</html>
