<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles_signup.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css" />
  <title>Impact X | Log In</title>
</head>

<body class="bodySignUp">  
  <form action="/ingresar-usuario" method="POST" class="create-form">
    <div class="content">
      <div>
        <h2 class="titulo-registrar-usuario">Registrar usuario</h2>
        <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
      </div>
      <div>
        <div class="control-formulario">
          <input type="text" name="usuario" class="control" placeholder="Usuario" required />
        </div>
        <div class="control-formulario">
          <input type="password" name="password" class="control" placeholder="Contraseña" required />
        </div>
        <button type="submit" class="boton-formulario">Ingresar</button>
      </div>
    </div>
  </form>
  <footer>
    <div class="referencias">
      <ul class="footer-izq">
        <li><a href="/">Asesoramiento</a></li>
        <li><a href="/">Medios de pago</a></li>
        <li><a href="/">Politicas de privacidad y uso</a></li>
      </ul>
      <ul class="footer-der">
        <li><a href="/">Legales</a></li>
        <li><a href="/">Preguntas Frecuentes</a></li>
        <li><a href="/">Trabaja con nosotros</a></li>
      </ul>
    </div>
    <div class="redes">
      <div class="head-redes">
        <p>¡Encontranos en nuestras redes!</p>
      </div>
      <ul class="links-redes">
        <li>
          <a href="https://twitter.com/ImpactXServices" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/ImpactXServices" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/ImpactXServices" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/ImpactXServices" target="_blank"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>2023 ImpactX - Todos los derechos reservados</p>
    </div>
  </footer>  
</body>

</html>