<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/product.css"/>
    <title>Producto</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <article class="cadaProducto">
              <h1 class="nombreProducto">Full Stack</h1>
              <img class="picture" src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg" alt="imagen1"/>
              <p>Queres aprender mas?</p>
              <p>$10.000</p>
            </article>
          </li>
        <li>
          <article class="cadaProducto">
            <h1 class="nombreProducto">Markerting</h1>
            <img class="picture" src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg" alt="imagen2"/>
            <p>Queres aprender mas?</p>
            <p>$10.000</p>
          </article>
        </li>
        <li>
          <article class="cadaProducto">
            <h1 class="nombreProducto">Data Science</h1>
            <img class="picture" src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg" alt="imagen3"/>
            <p>Queres aprender mas?</p>
            <p>$10.000</p>
          </article>
        </li>
        <li>
          <article class="cadaProducto">
            <h1 class="nombreProducto">Data Science</h1>
            <img class="picture" src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg" alt="imagen3"/>
            <p>Queres aprender mas?</p>
            <p>$10.000</p>
          </article>
        </li>
      </ul>
    </nav>
  </body>
</html>