<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Producto</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <article class="product">
            <h1>Nombre del producto</h1>
            <img
              src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg"
              alt="imagen1"
            />
            <p>Descripcion del producto</p>
            <p>Precio</p>
          </article>
        </li>
        <li>
          <article class="product">
            <h1>Nombre del producto</h1>
            <img
              src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg"
              alt="imagen2"
            />
            <p>Descripcion del producto</p>
            <p>Precio</p>
          </article>
        </li>
        <li>
          <article class="product">
            <h1>Nombre del producto</h1>
            <img
              src="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg"
              alt="imagen3"
            />
            <p>Descripcion del producto</p>
            <p>Precio</p>
          </article>
        </li>
      </ul>
    </nav>
  </body>
</html>
