<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Detalle</title>
</head>
<body class="detalleProducto">
    <header class="main-header">
        <div class="main-header-top-bar">
          <img src="/img/logo-impactx.png" class="logo">
          <h2 class="copy-header">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            Integramos tu negocio, vos escalá
          </h2>
        </div>
        <a href="#" class="hamburguer-buttom">
          <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/listado">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contactos</a></li>
          </ul>
          <ul class="right-navbar">
            <li><a href="/signup">Registrarse <i class="fa-solid fa-credit-card"></i></a></li>
            <li><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/carrito">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
          </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="first">
                <div class="tarjeta">
                    <div class="imagen">
                        <img src="/img/descarga.jpg" alt="prueba">
                    </div>
                        <div class="detalles">
                            <h3 class="nombreProducto">Titulo de producto</h3>
                            <p class="precio">Precio</p>
                            <p class="descripcionProducto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit aspernatur, eaque repellat labore harum earum natus autem similiq</p>
                        </div>    
                    <div class="compras">
                        <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae </p>
                        <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae </p>
                    </div> 
                </div>   
            </div>
        </div>
        <form class="form-prod" action="#" method="GET">
            <div class="button-prod">
                <button type="submit">Agregar al carrito</button>
            </div>
        </form>
    </main>
    

</body>
</html>