<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Producto</title>
</head>
<body>
    <h1>Nombre del producto</h1>
    <a href="https://i.kym-cdn.com/entries/icons/original/000/033/340/yoda.jpg">Pope with yoda</a>
    <p>Descripcion del producto</p>
    <p>Precio</p>
    <!--"Es una estructura basica, porfavor no me critiquen <3"-->
</body>
</html>