<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body class="registrer">
 <div class="container">
  <div class="estaslisto">
    <h1>¿Estas listo para despegar?</h1>
  </div>



  <form class="form" action="enviar_registro.php" method="post">
    <div class="mb-3">
      <input
        class="input"
        required
        name="username"
        id="username"
        type="text"
        placeholder="Usuario"
        maxlength="40"
      />
    </div>
    <div class="mb-3">
      <input
        class="input"
        required
        name="nombre"
        id="nombre"
        type="text"
        placeholder="Nombre"
        maxlength="40"
      />
      <input
        class="input"      
        required
        name="apellido"
        id="apellido"
        type="text"
        placeholder="Apellido"
        maxlength="60"
      />
    </div>
    <div class="mb-3">
      <input
        class="input"      
        required
        type="email"
        id="password"
        name="correo"
        placeholder="Correo Electronónico"
        maxlength="100"
      />
    </div>
    <div class="mb-3">
      <input
        class="input"      
        required
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        maxlength="60"
      />
    </div>
    <div class="mb-3">
      <input
        class="input"      
        required
        type="password"
        id="password"
        name="password2"
        placeholder="Repetir Contraseña"
        maxlength="60"
      />
    </div>
    <input type="submit" value="Registrarme" class="btn btn-dark">
    </input>
  </form>

 </div>
</body>
</html>