<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"home"})%>

  <body class="bodySignUp">
    <%- include('./partials/header')%>
   <main>
    <div class="content">
      <div>
        <h2 class="titulo-registrar-usuario">Registrar usuario</h2>
        <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
      </div>
      <div class="caja-form-login">
        <form action="/registrar-usuario" method="POST" class="create-form">
          <div class="control-formulario">
            <input
              type="email"
              name="email"
              class="control"
              placeholder="Email"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="text"
              name="usuario"
              class="control"
              placeholder="Usuario"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="password"
              name="password"
              class="control"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="password"
              name="repetirPassword"
              class="control"
              placeholder="Repetir Contraseña"
              required
            />
          </div>
          <button type="submit" class="boton-formulario">Registrase</button>
        </form>
      </div>
    </div>

    <%- include('./partials/footer')%>
  
  </body>
</html>
