<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7c76cda882.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Sign Up</title>
    <link rel="shortcut icon" href="/img/logo-impactx.ico" />
  </head>

  <body class="bodySignUp">
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo-impactx.png" class="logo">
        <h2 class="copy-header">
          <i class="fa-solid fa-cloud-arrow-up"></i>
          Integramos tu negocio, vos escalá
        </h2>
      </div>
      <a href="#" class="hamburguer-buttom">
        <i class="fa-solid fa-bars"></i>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/listado">Productos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contactos</a></li>
        </ul>
        <ul class="right-navbar">
          <li><a href="/signup">Registrarse <i class="fa-solid fa-credit-card"></i></a></li>
          <li><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="/carrito">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </nav>
    </header>    
    <div class="content">
      <div>
        <h2 class="titulo-registrar-usuario">Registrar usuario</h2>
        <img
          src="/img/logo-impactx.png"
          alt=""
          class="image-sign-up"
        />
      </div>
      <div>
        <form action="/registrar-usuario" method="POST" class="create-form">
          <div class="control-formulario">
            <input
              type="email"
              name="email"
              class="control"
              placeholder="Email"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="text"
              name="usuario"
              class="control"
              placeholder="Usuario"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="password"
              name="password"
              class="control"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="control-formulario">
            <input
              type="password"
              name="repetirPassword"
              class="control"
              placeholder="Repetir Contraseña"
              required
            />
          </div>
          <button type="submit" class="boton-formulario">Registrase</button>
        </form>        
      </div>
    </div>
    <footer>
      <div class="referencias">
        <ul class="footer-izq">
          <li><a href="/">Asesoramiento</a></li>
          <li><a href="/">Medios de pago</a></li>
          <li><a href="/">Politicas de privacidad y uso</a></li>
        </ul>
        <ul class="footer-der">
          <li><a href="/">Legales</a></li>
          <li><a href="/">Preguntas Frecuentes</a></li>
          <li><a href="/">Trabaja con nosotros</a></li>
        </ul>
      </div>
      <div class="redes">
        <div class="head-redes">
          <p>¡Encontranos en nuestras redes!</p>
        </div>
        <ul class="links-redes">
          <li>
            <a href="https://twitter.com/ImpactXServices" target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/ImpactXServices" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/ImpactXServices" target="_blank"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/ImpactXServices" target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>2023 ImpactX - Todos los derechos reservados</p>
      </div>
    </footer>   
  </body>
</html>
