<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <form action="/registrar-usuario" method="POST" class="create-form">
        <div class="control-formulario">
            <!--<label for="email">Email:</label>-->
            <input type="email" name="email" class="control" placeholder="Email" required>
        </div>
        <div class="control-formulario">
            <!--<label for="usuario">Usuario:</label>-->
            <input type="text" name="usuario" class="control" placeholder="Usuario" required>
        </div>       
        <div class="control-formulario">
            <!--<label for="password">Contraseña:</label>-->
            <input type="password" name="password" class="control" placeholder="Contraseña" required>
        </div>  
        <div class="control-formulario">
            <!--<label for="repetirPassword">Repetir Contraseña:</label>-->
            <input type="password" name="repetirPassword" class="control" placeholder="Repetir Contraseña" required>
        </div>                   
        <button type="submit" class="boton-formulario">Sign Up</button> 
    </form>
    <footer>

    </footer>
</body>
</html>