

/* seccion de quienes confiaron en nosotros */
.confiaron {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    
  }
  
  .confiaron h2 {
    margin-bottom: 20px;
  }
  
  .confiaron .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .confiaron img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 10px;
  }
 
  
  
  /* seccion de contactanos */
  .formulario-contacto {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
   
  }
  
  .formulario-contacto h2 {
    margin-bottom: 20px;
    
  }
  
  .formulario-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario-contacto label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario-contacto input,
  .formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
  max-width: 300px;
  margin: 0 auto;
  }
  
  .formulario-contacto button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario-contacto button:hover {
    background-color: #45a049;
  }
  

/* media queries para quienes confiaron en nosotros y formulario  */
  @media (min-width: 361px) {
    /* Estilos para dispositivos con una resolución mínima de 361px */
  
    /* Estilos para la sección "¿Quiénes confiaron en nosotros?" */
    .confiaron {
      padding: 30px;
    }
  
    /* Estilos para el formulario de contacto */
    .formulario-contacto {
      padding: 30px;
    }
  
    /* Estilos para las imágenes en el contenedor "imagenes" */
    .imagenes img {
      width: 220px;
    }
  }
  
  @media (min-width: 768px) {
    /* Estilos para dispositivos con una resolución mínima de 768px (tabletas y pantallas más grandes) */
  
    /* Estilos para la sección "¿Quiénes confiaron en nosotros?" */
    .confiaron {
      padding: 40px;
    }
  
    /* Estilos para el formulario de contacto */
    .formulario-contacto {
      padding: 40px;
    }
  
    /* Estilos para las imágenes en el contenedor "imagenes" */
    .imagenes img {
      width: 250px;
    }
  }
  
  @media (min-width: 1200px) {
    /* Estilos para dispositivos con una resolución mínima de 1200px (pantallas de escritorio más grandes) */
  
    /* Estilos para la sección "¿Quiénes confiaron en nosotros?" */
    .confiaron {
      padding: 60px;
    }
  
    /* Estilos para el formulario de contacto */
    .formulario-contacto {
      padding: 60px;
    }
  
    /* Estilos para las imágenes en el contenedor "imagenes" */
    .imagenes img {
      width: 300px;
    }
  } 
  /* fin media queries para formulario y quienes confiaron en nosotros */