.bodyProductos {
  font-family: 'Hanken Grotesk', sans-serif;
  background-image: url('/img/heroimg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
}

.cadaProducto {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.nombreProducto {
  font-size: 24px;
}

.picture {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  object-fit: cover;
}

.bodyProductos p {
  margin: 20px;
}

@media (max-width: 768px) {
  .bodyProductos {
    flex-direction: column;
    align-items: center;
  }

  .cadaProducto {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

@media (min-width: 769px) {
  .cadaProducto {
    padding: 30px;
    margin: 30px;
  }

  .nombreProducto {
    font-size: 30px;
  }

  .cadaProducto:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }

  .nombreProducto:hover {
    color: #185ABC;
    transition: color 0.5s ease-in-out;
  }
}