@import url("./components/index.css");
@import url("./components/header.css");
@import url("./components/footer.css");

@import url("./components/producto.css");
@import url("./components/carrito.css");
@import url("./components/formProduct.css");
@import url("./components/login.css");



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;

}


/* //////// REGLAS */
/* 
  MOBILE FIRST
  PRIMER PUNTO DE QUIEBRE - TABLET -> (min-width: 768px)
  SEGUNDO PUNTO DE QUIEBRE - DESKTOP -> (min-width: 1200PX)

*/