@import url("./components/index.css");
@import url("./components/header2.css");
@import url("./components/footer.css");

@import url("./components/producto.css");
@import url("./components/carrito.css");
@import url("./components/formProduct.css");
@import url("./components/login.css");
@import url("./components/profile.css");
@import url("./components/users.css");
@import url("./components/error404.css");




* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;

}





/* //////// REGLAS */
/* 
  MOBILE FIRST -> 361px
  PRIMER PUNTO DE QUIEBRE - TABLET -> (min-width: 768px)
  SEGUNDO PUNTO DE QUIEBRE - DESKTOP -> (min-width: 1200PX)

*/

/* BG COLOR #0353A4 */