body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #1e3442;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
  
.cadaProducto {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 13px;
}
  
.picture {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-bottom: 5px;
    object-fit: cover;
}
  
.product h1 { 
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
}
  
.product p {
    margin-bottom: 5px;
}

