* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.detalleProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.tarjeta{
    width:80%;
    height:70vh;
    background-color: white;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 2%;
    transition: all 1s;
}
.tarjeta .imagen {
    width:80%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

img {
    width: 90%;
    height: 150px;
}

.detalles {
    border-top: 1px solid rgb(212, 209, 209);
    margin:5px;
    width: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
} 

.compras {
    margin:5px;
    padding:10px;
    display: none;
    text-align: left;
    height:70%;
    background-color: white;
    position: relative;
    transition: all 1s;
}

.parrafos {
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
}

.first:hover .tarjeta {
    height:550px;
}

.first:hover .descripcionProducto {
    border-bottom: 1px solid rgb(212, 209, 209);
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.first:hover .compras{
    display: block;
    background-color: white;
    width:100%;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.nombreProducto {
    width: 80%;
    padding:5px;
    font-size: 18px;
}
.precio { 
    width: 80%;
    padding: 5px;
    color: grey;
    font-size: 15px;
}

.descripcionProducto {
    width: 100%;
    padding: 5px;
    font-size: 15px;

}

.form-prod { 
    margin-top: 10px;
    width:100%;
    text-align: center;
}

.button-prod button {
    padding: 10px;
    background-color: #294ad0;
    color: white;
    border:none;
    transition: all 1s;
}

.button-prod button:hover {
    border: 1px solid grey;
    background-color: #0022AA;
}

@media (min-width: 361px) {
    .tarjeta {
        max-width: 360px;
    }
}

@media (min-width: 769px) {

    .tarjeta {
        flex-direction: row;
        align-items: center;
        height: 250px;
        max-width: 600px;
        position: relative;
    }
    .first:hover .tarjeta {
        height:350px;
        align-items: flex-start;
    }
    .tarjeta .detalles {
        width:50%;
        border: none;
        background-color: white;
        margin-top: 10px;
        margin-left: 0;
        z-index: 1;
    }
    .tarjeta .imagen {
        width:50%;
        position:relative;
        margin-top: 10px;
        background-color: white;
        z-index: 1;
        padding-bottom: 35px;
    }

    .first:hover .imagen {
        margin-top: 25px;
    }
    img {
        width:70%;
    }
    .compras {
        position:absolute;
        left:10px;
        margin: auto;
        bottom: -10px;
    }
    .first:hover .compras {
        background-color: transparent;
        height:150px;

    }
}