
.bodySignUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-right: 50px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-sign-up {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}

.create-form {
  width: 100%;
}

.control-formulario {
  margin-bottom: 15px;
}

.control {
  font-size: 11px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}

.boton-formulario {
  display: block;
  margin: 0 auto;
  background: #000;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.titulo-registrar-usuario {
  color: black;
  font-size: 18px;
  font-weight: bold;
}




@media (min-width: 361px) {
  .titulo-registrar-usuario {
    font-size: 20px;
  }  
  .boton-formulario{
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .content {
    padding: 100px; 
  }
  .control {
    font-size: 16px;
  }
  .image-sign-up {
    max-width: 25vw;
  }
  .titulo-registrar-usuario {
    font-size: 22px;
  }   
  .boton-formulario{
    font-size: 20px;
  }  
}



/* FOOTER */
footer {
  background-image: #f2f2f2;
  width: 100%;
  color: rgb(91, 80, 80);
  font-size: 16px;
  opacity: 75%;
}

footer .referencias {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  padding-top: 20px;

}

footer div ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

footer div ul li {
  padding-bottom: 30px;
  color: rgb(91, 80, 80);
}

.referencias a {
  text-decoration: none;
  color: rgb(91, 80, 80);;;
}

.head-redes {
  text-align: center;
  border-top: 1px solid rgb(91, 80, 80);;
  padding-top:30px;
  padding-bottom:20px
}

ul.links-redes {
  text-align: center;
  
}

ul.links-redes li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(91, 80, 80);
}

.referencias ul li a:hover {
  text-decoration: underline;
  color: rgba(73, 73, 151, 0.649)
}

.redes ul li a:hover{
  text-decoration: underline;
  color: rgba(73, 73, 151, 0.649)
}

.copyright {
  padding-top:10px
}

@media (min-width:361px) {
  footer .referencias {
      display: flex;
      justify-content: space-around;
  }
  
}

@media (min-width: 768px) {
  .links-redes {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: auto;
  }
}

/* TERMINA FOOTER */