/* FOOTER */
footer {
  background-color: #0c2c59;
  opacity: .9;
  width: 100%;
  font-size: 16px;
  padding: 1rem;

}



footer div ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

footer div ul li {
  padding-bottom: 20px;
}

.redes {
  border-bottom: 1px solid  #13396e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-redes {
  text-align: center;

}

.head-redes p {
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 18px;
}



footer .referencias {
  width: 100%;
  padding-top: 40px;

  border-top: 1px solid #0c2b56;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.referencias a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 13px;
}

.referenciasWrap {
  display: flex;
  flex-direction: row;
}


.logoFooter {
  width: 300px;
}

.logoFooterTop {
  width: 50px;
  opacity: .7;

  transform: .02s;
}

.logoFooterTop:hover {
  opacity: .9;
}


.referencias ul li a:hover {
  text-decoration: underline;
}

.redes ul li a:hover {
  text-decoration: underline;
}

.copyright {
  padding: 20px;
  background-color: #0c2c59;
}

.copyright p {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}


@media (min-width: 768px) {
  .links-redes {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .links-redes li {
    margin-right: 20px;
  }
.footer-izq {
  margin-right: 2rem;
}

}

/* TERMINA FOOTER */