/* header */
header {
  z-index: 15;
  width: 100%;
  position: fixed;
  display: flex;
  /* justify-content: space-evenly; */
  background-color: white;
  top: 0;

  box-shadow: 0 4px 10px rgba(135, 135, 135, 0.1);
}

/*  LOGO  */

header div.logo a img {
  width: 100%;
}

header div.logo a {
  width: 100%;
  z-index: 16;
  transition: all 300ms;
}

header div.logo {
  display: flex;
  width: 25vw;
  max-width: 210px;
  margin-left: 4vw;
  margin-top: 3.5vw;
}

/*  SHOPPING CART  */

.shopping-cart i {
  font-size: 8vw;
  text-decoration: none;
  color: #161C2D;
  transition: all 300ms;
}

.shopping-cart:hover>i {
  transform: rotate(5deg);
}

.shopping-cart {
  z-index: 16;
  position: absolute;
  right: 20vw;
  max-height: 200px;
  max-width: 134px;

  padding-right: 6vw;
  margin-top: 3.7vw;
}

header .shopping-cart:link {
  text-decoration: none;
  color: #161C2D;
}

header .shopping-cart:visited {
  text-decoration: none;
  color: #161C2D;
}

header .shopping-cart:hover {
  text-decoration: none;
  color: #161C2D;
}

header .shopping-cart:active {
  text-decoration: none;
  color: #161C2D;
}

/*  BURGER MENU  */
.burger-menu {
  z-index: 17;
  position: fixed;
  right: 4vw;
  top: 4.5vw;
  max-height: 200px;
  max-width: 134px;
  width: 8vw;
  height: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.burger-menu span:nth-child(1) {
  width: 100%;
  height: 14%;
  background: #161C2D;
  transition: all 400ms;
}

.burger-menu span:nth-child(2) {
  width: 100%;
  height: 14%;
  background: #161C2D;
  transition: all 250ms;
}

.burger-menu span:nth-child(3) {
  width: 100%;
  height: 14%;
  background: #161C2D;
  transition: all 400ms;
}

.burger-menu:focus span:nth-child(1) {
  transform: rotate(45deg) translateX(0vw) translateY(3.7vw);
  justify-self: center;
}

.burger-menu:focus span:nth-child(3) {
  transform: rotate(-45deg) translateX(0vw) translateY(-3.7vw);
  justify-self: center;
}

.burger-menu:focus span:nth-child(2) {
  background: rgba(0, 0, 0, 0);
}


/*  MENU  */

nav.menu {
  display: none;
  position: fixed;
  width: 38%;
  right: -250px;
  padding-top: 13vw;
  border: #185ABC solid 1px;
  background-color: #c0d4eb;
  z-index: 14;
  transition: display 10ms;
  transition: transform 450ms;
}

nav.menu ul {
  z-index: 19;
  width: 100%;
}

nav.menu ul li {
  text-decoration: none;
  list-style-type: none;
}

nav.menu ul li a {
  font-size: 4vw;
  padding: 15px;
  width: 100%;
  display: flex;
  border-top: solid #185ABC 1px;
  background-color: #a1bee1;
}

header nav ul li a:link {
  text-decoration: none;
  color: #185ABC;
}

header nav ul li a:visited {
  text-decoration: none;
  color: #185ABC;
}

header nav ul li a:hover {
  text-decoration: none;
  background-color: #185ABC;
  color: #a1bee1;
}

header nav ul li a:active {
  text-decoration: none;
  color: #18bc6d;
}

.burger-menu:focus~nav.menu {
  display: block;
  transform: translateX(-250px);
}



@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
  }

  nav.menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: auto;
    left: 10px;
    width: 100%;
    padding-top: 0;
    margin-top: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    z-index: 14;
  }

  nav.menu ul {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);

    margin-left: 3vw;
  }

  nav.menu ul li.ingresar {
    position: absolute;
    padding: .7rem .3rem;
    margin-top: -10px;
    right: 20vw;
    transition: all 300ms;
  }

  nav.menu ul li.registrarse {
    position: absolute;
    padding: .7rem .3rem;
    background-color: white;
    margin-top: -10px;
    transition: all .2s;
    right: 10vw;
  }
  

  nav.menu ul li a {
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    font-size: 0.9rem;
    padding: 0 10px;
  }

  header nav ul li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }


  header div.logo {
    max-width: 110px;
    display: flex;
    margin: 20px 0 0 0;
  }

  .shopping-cart {
    max-width: 50px;
    margin: 25px 0 0 0;
    right: 5px;
  }

  .shopping-cart i {
    font-size: 1.5rem;
  }

  .burger-menu {
    display: none;
  }

  header div.logo a:hover {
    transform: scale(105%);
  }

}

@media (min-width: 1200px) {
  nav.menu ul li.registrarse {
    right: 10vw;
    /* top: -10px; */
  }

  nav.menu ul li.ingresar {
    right: 18vw;
    /* top: -10px; */
  }

  .shopping-cart {
    right: 5px;
  }
}
@media (min-width: 1300px) {
  nav.menu ul li.registrarse {
    right: 10vw;
    /* top: -10px; */
  }

  nav.menu ul li.ingresar {
    right: 15vw;
    /* top: -10px; */
  }

}