  .heroSection {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    width: 100%;
  }

  .heroImg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/img/heroimg.jpg');
    width: 100%;
    height: 100vh;

    animation: introLoad 2s forwards;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .contenedorInfoHero {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }


  .contenedorTexto {
    /* text-align: center; */
    margin-bottom: 1rem;
  }

  .arrowDown {
    position: absolute;
    bottom: 2.5em;
    animation: moveArrow 1s alternate-reverse infinite;
  }

  .subHeading {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
    max-width: 520px;
  }


  .heroSection h1 {
    color: #ffffff;
    font-size: 2.9rem;
    font-weight: 300;
    overflow: hidden;
  }

  .heroSection h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2rem;

    margin-bottom: 5rem;
  }

  .botonContactanos {
    color: white;
    text-decoration: none;
    background-color: #185ABC;
    border: 1px solid #185ABC;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    transition: .15s;

    margin: 0 auto;
  }

  .botonContactanos:hover {
    color: #185ABC;
    background-color: white;
  }






  /* SECCION QUIENES CONFIARON EN NOSOTROS */

  .seccionConfiaron {
    text-align: center;
    padding: 20px;
    /* background-image: linear-gradient(to bottom, #F9FBFD 0%, #fff 100%); */
  }

  .imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .imagenes img {
    margin-bottom: 3rem;
    width: 150px;
  }


  .seccionConfiaron h2 {
    margin-bottom: 2rem;
    font-weight: 300;
    color: #185ABC;
  }










  /* SECCION QUIENES SOMOS */

  .seccionQuienesSomos {
    overflow: hidden;
    padding: 3rem 1rem;
    width: 100%;
    /* background-color: #0c2c59; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;



  }

  .imagenQuienesSomos {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .containerTextoQuienesSomos {

    margin-bottom: 4rem;
  }


  .containerTextoQuienesSomos h2 {
    color: #003687;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    
    text-align: center;
  }

  .containerTextoQuienesSomos p {
    color: #185ABC;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
  }









  /* SECCION CONTACTANOS */

  .formulario-contacto {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, #F9FBFD 0%, #fff 100%);
    border-radius: 5px;

  }

  .formulario-contacto h2 {
    margin-bottom: 20px;
    font-weight: 300;
    color: #185ABC;

  }

  .formulario-contacto form {
    display: flex;
    flex-direction: column;
  }

  .formulario-contacto label {
    display: block;
    margin-bottom: 5px;
    color: #185ABC;
    margin-top: 10px;
  }

  .formulario-contacto input,
  .formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }



  .formulario-contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  /* Estilos para el formulario de contacto */
  .formulario-contacto {
    padding: 30px;
  }






















  @media (min-width: 768px) {
      
    .contenedorInfoHero {
      text-align: center;
    }

    .subHeading {
      max-width: 1000px;
    }
    /* Estilos para el formulario de contacto */
    .formulario-contacto {
      padding: 40px;
    }

    /* Estilos para las imágenes en el contenedor "imagenes" */
    .seccionConfiaron .imagenes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .seccionConfiaron .imagenes img {
      width: 100px;
      margin-right: 1rem;
    }

    .arrowDown {
      display: none;
    }

  }





  @media (min-width: 1200px) {

    /* SECCION HERO IMAGEN PRINCIPAL */
    .heroSection {
      width: 100%;
      /* height: 42em; */
      max-width: 1500px;
      margin: 0 auto;
    }

    .heroImg {
      left: unset;
      right: 0;
      width: 50%;
      /* height: 42em; */
    }

    .contenedorInfoHero {
      text-align: left;
      padding: 3rem;
    }




    .subHeading {
      max-width: 500px;
      font-size: 1rem;
      color:#185ABC;
      margin-top: 10px;

    }

    .contenedorTexto h1 {
      font-size: 4rem;
      max-width: 500px;
      color:#0d3167;
      line-height: 4.5rem;
    }

    .contenedorTexto h2 {
      font-size: 5rem;
      
    }

    .arrowDown path {
      fill:#0d3167;
    }



    /* SECCION QUIENES SOMOS EN HOME */
    .seccionQuienesSomos {
      display: flex;
      flex-direction: row;
      height: 50vh;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 3rem;

    }

    .imagenQuienesSomos {
      width: 500px;
      border-bottom-right-radius: 10px;
    }

    .containerTextoQuienesSomos {
      max-width: 500px;
      margin-bottom: 0px;
    }

    .arrowDown {
      display: block;
    }
  }






  @keyframes introLoad {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes moveArrow {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(0px);
    }
  }