.content-request {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

input[readonly],
textarea[readonly] {
  background-color: #f0f0f0; 
  cursor: not-allowed; 
  color: #777; 
}

input[readonly]::placeholder,
textarea[readonly]::placeholder {
  color: #ccc; 
}

input[readonly],
textarea[readonly],
select[disabled] {
  border: 1px solid #ccc; 
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.form-request {
  margin-bottom: 2rem; /* Puedes ajustar el valor según el espacio deseado entre formularios */
}

.content > div {
  flex-grow: 1;
}

.image-sign-up {
  display: none;
}

.caja-form-login {
  padding-left: 25px;
  width: 70%;
}

.control {
  font-size: 14px;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #bdd7ff;
}

.control::placeholder {
  color: #185abc;
  opacity: 0.5;
}

.content button {
  margin-top: 1rem;
}

.titulo-registrar-usuario {
  color: #185abc;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.erroresForm {
  color: rgb(177, 0, 0);
  font-size: 12px;
}

.invalidError {
  border: 1px solid rgb(177, 0, 0);
}


.registrateBoton {
  color: #185abc;

}
.registrateBoton:hover {
  opacity: .7;
}

@media (min-width: 768px) {
  .image-sign-up {
    display: block;
    width: 200px;
    margin-right: 7rem;
  }
  .content-request{
    flex-direction: row;
    max-width: 768px;
    margin-top: 6rem;
    height: 100vh;   
  }
  .content {
    flex-direction: row;
    max-width: 768px;
    height: 100vh;
  }
}
