.mainProducts {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjetaProductos {
  display: flex;
  align-items: center;


  border: 1px solid lightgrey;
}


.tarjetaProductos img {
  border-right: 1px solid lightgrey;
  /* object-fit: cover; */
}