.mainProducts {
  margin-top: 10px;
  display: grid;
 
  justify-content: center;
  grid-gap: 30px;
  padding: 3rem;

 
}

.liOrder{
  font-size: 1.5em;
  color: #0c2b56;
  margin: 0 auto; /* Centra horizontalmente el texto */
  max-width: 800px; 
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 8px;
  font-weight: bold;
  padding: 10px; /
}

.popupProducto {
  display: none;
}
.search-container {
  margin: auto 0;
  margin-top: 7rem;
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNewProductBtn {
  text-decoration: none;
}

.addNewProductBtn p {
  color: #185ABC;
  background-color: white;
  border: 1px solid #02337d12;
  border-radius: 30px;
  padding: .8rem 1.234rem;
  margin-top: 1rem;
  width: fit-content;


  transition: .1s ease-in;
}

.addNewProductBtn p:hover {
  color: #185abc8f;
}

#search-input {
  width: 100%;
  padding: .8rem;
  padding-left: 1.5rem;
  border: 1px solid #02337d12;
  border-radius: 30px;
  max-width: 500px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

#search-input::placeholder {
  color: #aaa;
  text-align: center;
}

.bgProductos {
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #fff 100%);
}

.tarjetaProductos {
   display: block;
  grid-template-columns: repeat(1, 1fr); 
  border-radius: 12px;

  box-shadow: 0px 0px 10px rgba(103, 138, 190, 0.2);
  transition: 0.2s; 
  margin-bottom: 15px;
 
  
  
  
}

.tarjetaProductos:hover {
  box-shadow: 0px 0px 10px rgba(138, 165, 206, 0.6);
}

.productoImagen {
  display: block; /* Asegúrate de que la imagen se comporte como un bloque */
  margin: 0 auto;
  width:30%;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  margin-top: 50px;
 
  
}

.textoContainerInfoProducto {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.textoContainerInfoProducto div{
  display: flex; 
   flex-direction:column;
   align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.containerInfoProductos {
  /* border-top: 1px solid #d0e4ff; */
  padding: 1.2rem;
 


 
}

.containerInfoProductos h2 {
  color: #0c2b56;
  font-size: 1.8rem;

}

.containerInfoProductos p:nth-child(2) {
  color: #0c2b56;
}

.containerInfoProductos p:nth-child(3) {
  color: #0c2b56;
  font-size: 12px;
}
/*  */

.botonProductos {
  width: 120px;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: #0c2b56;
  border-radius: 30px;
  padding: 0.6rem 1.2rem;
  border: 1px solid #0c2b56;
  transition: 0.2s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  margin-top:50px ;}

.botonProductos:hover {
  background-color: white;
  color: #0c2b56;
}

.contenedorBotonesProductos {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones en el contenedor */
  align-items: center; /* Opcional: centra verticalmente los botones en el contenedor */
  margin-top: 2.5rem;
  gap: 10px;
}



@media (min-width: 768px) {
  .mainProducts {
    display: inline;
    grid-template-columns: repeat(1, 500px);
    grid-gap: 30px;
    padding: 3rem;
  }
  
  .tarjetaProductos {
    overflow: hidden;
    /* width: 800px; */
    flex-direction: row;
  }


  .botonProductos {
    margin-right: 0.5rem;
  }

  .popupProducto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(138, 165, 206, 0.6);
    border-radius: 5px;
    width: 500px;
    z-index: 1000;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .addNewProductBtn p {
    margin-top: 0px;
    margin-left: 1rem;
    
  }
  

  .contenedorBotonesProductos {
    gap: 0px;
    justify-content: left;
  }
  
  .containerInfoProductos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .popupContenido {
    position: relative;
    padding: 20px;
  }

  .popupCerrarButton {
    background-color: #0c2b56;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .popupCerrarButton:hover {
    background-color: #758eb4;
  }

  .popupImagen img {
    max-width: 100%;
    height: auto;
  }

  .popupInfo h2 {
    color: #0c2b56;
    margin-bottom: 5px;
  }

  .popupInfo p {
    color: #0c2b56;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .popupImagen {
    text-align: center; /* Centra horizontalmente el contenido */
  }
  
  .popupImagen img {
    max-width: 50%; /* O el valor que funcione mejor para tu diseño */
    height: auto;
    display: inline-block; /* Permite centrar verticalmente */
    margin-top: 10px; /* Agrega un pequeño espacio superior para separar de otros elementos */
  }
  
}

@media (min-width: 1200px) {
  .mainProducts {

    grid-template-columns: repeat(2, 500px);

  }
  
}