.mainProfile {
  height: 98vh;
  padding: 2rem;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.wrapperProfile {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  padding: 1.2rem;
  margin-top: 2rem;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(106, 163, 255, 0.4);

  border-left: 3px solid #b9d5ff;
}

.wrapperProfileTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapperProfileTop div {
  display: flex;
  align-items: center;
}

.wrapperProfileTop div:nth-child(2) {
  flex-direction: column;
  align-items: start;
  margin-left: 0.8rem;
}
.wrapperProfileTop div:nth-child(2) p {
  color: #185abc;
  font-size: 1rem;
}

.logoutButton {
  margin-top: 0.3rem;
  text-decoration: none;
  color: white;
  background-color: #185abc;
  padding: 0.6rem 0.5rem;
  border-radius: 5px;
  transition: 0.15;
}

.wrapperProfileTop h2 {
  color: #23539a;
  font-size: 1.5rem;
}

.mainProfile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.wrapperProfileBottom {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  padding: .5rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(106, 163, 255, 0.2);
  display: flex;
  flex-direction: column;
}
.wrapperProfileBottom section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 5px;
}

.wrapperProfileBottom section:hover {
  background-color:#f0f6ff;
}

.wrapperProfileBottom-button {
  color: #185abc;
  transition: 0.2s;
  margin-top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

.wrapperProfileBottom-button:hover {
  color: red;
}


.wrapperProfileBottom a {
  text-decoration: none;
  color: #185abc;
  transition: 0.2s;
}

.wrapperProfileBottom section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapperProfileBottom section div:nth-child(1) {
  display: flex;
  align-items: center;
}
.wrapperProfileBottom section div:nth-child(2) {
  margin-left: 1rem;
}

.wrapperProfileBottom h5 {
  color: #a0bde9;
}
.wrapperProfileBottom p:nth-child(1) {
  font-weight: bold;
  font-size: 2rem;
}
.wrapperProfileBottom p:nth-child(2) {
  font-weight: bold;
}

.error {
  font-size: 12px;
  color: red;
  text-align: left;
  width: 250px;
}
.input-error {
  margin-bottom: 8px;
  margin-top: 5px;
}

.errorPass {
  max-width: none;
}


.containerInfoUserProfile {
  display: flex;
  align-items: center;
}


@media (min-width: 1200px) {
  .mainProfile {
    align-items: center;
  }

  .wrapperProfile {
    width: 50%;
  }

  .wrapperProfileBottom {
    width: 50%;
  }
}
