.mainProfile {
  height: 98vh;
  padding: 2rem;
  margin-top: 3rem;
}

.wrapperProfile {
  width: 100%;
  background-color:#ffffff;
  padding: 1.2rem;
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, .1);
}

.wrapperProfileTop {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.mainProfile img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.usuario-tipo {
  margin: 25px;
}

.error {
  font-size: 12px;
  color: red;
  text-align: left;
  width:250px;
}
.input-error {
  margin-bottom: 8px;
  margin-top: 5px;
}

.errorPass {
  max-width: none;
}