<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Login"})%>

  <body class="bodySignUp">
    <%- include('../partials/header')%>
      <form action="/ingresar-usuario" method="POST" class="create-form">
        <div class="content">
          <div>

            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>
          <div>
            <h2 class="titulo-registrar-usuario">Editar Usuario</h2>
            <div class="control-formulario">
              <input type="text" name="usuario" class="control" placeholder="Usuario" required />
            </div>
            <div class="control-formulario">
              <input type="password" name="password" class="control" placeholder="Contraseña" required />
            </div>
          
            <button type="submit" class="botonContactanos">Editar</button>
         <label class="botonContactanos" for="botonBorrar">BORRAR</label>
            </div>
        </div>
      </form>
<form   class="create-form" method="post" action="/user/<%=usuario.id %>/?_method=delete">

  <button hidden type="submit" id="botonBorrar">Eliminar usuario </button>

</form>


      <%- include('../partials/footer')%>
  </body>

</html>