<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Login"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/user/login" method="POST" class="create-form">
        <div class="content">
          <div>

            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>
          <div>
            <h2 class="titulo-registrar-usuario">¡Ingresá a tu usuario!</h2>
            <div class="control-formulario">
              <div class="erroresForm">
                <% if (locals.errors && errors.user) { %>
                  <%= errors.user.msg %>
                    <% } %>
              </div>
              <input type="text" name="user" class="control" placeholder="Usuario" required />

            </div>
            <div class="control-formulario">
              <input type="password" name="password" class="control" placeholder="Contraseña" required />
            </div>
           <input type="checkbox" name="rememberUser" class="botonContactanos">recordarme</input>
            <button type="submit" class="botonContactanos">ingresar</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>

  </body>

</html>