<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Impact X | Cart"})%>

  <body class="bgCart">
    <%- include('../partials/header')%>

      <main class="mainCart">
          <section class="carrito-items carrito-prod">
                <article class="tarjetaCart carrito-producto">
                  <div class="containerImagenCart">
                    <img class="cartImagen" src="" alt="">
                  </div>
                  <div class="containerInfoCart carrito-info">
                    <h2 class="name">Producto:</h2>
                    <p class="price">Precio:</p>
                    <p>Cantidad:</p>
                    <input type="number" value="" class="prodQuantity">
                    <p class="subtotal">Subtotal: </p>
                  </div>
                </article>
          </section>
      </main>
      <section class="carrito-subtotal">
        
      </section>
      <section class="carrito-total">
        <h2 class="total">Total: $</h2>
      </section>
      <section class="carrito-botones">
        <button class="confirmar">Confirmar Compra</button>
        <button class="cancelar">Cancelar</button>
      </section>

      <%- include('../partials/footer')%>
      <%- include('../partials/scripts')%>
  </body>

</html>