<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title:"home"})%>

  <body class="carrito">

    <%- include('../partials/header')%>

      <main>
        <section id="carrito" class="cart-section">
          <h2 class="cart-title">Carrito de Compras</h2>
          <div class="cart-items">
            <!-- Aquí van los elementos del carrito -->
          </div>
          <div class="cart-summary">
            <!-- Aquí va el resumen del carrito -->
          </div>
          <button class="checkout-btn">Finalizar Compra</button>
        </section>
      </main>

      <%- include('../partials/footer')%>

  </body>

</html>