<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Productos"})%>

  <body class="bgProductos">

    <%- include('../partials/header')%>
      <main class="mainCart carrito-prod">
        <!--<article class="tarjetaCart">
          <div class="containerImagenCart">
            <img class="cartImagen" src="/img/">
          </div>

          <div class="containerInfoCart">
            <h2 class="name">Product name</h2>
            <p class="price">Product price $</p>
            <p class="description">Product description</p>

            <div class="contenedorBotonesCart">
              <button type="sumbit" class="botonCart eliminar">X</button>
            </div>
          </div>
        </article>-->
      </main>
      <article class="mainTotal">
        <!--<div class="containerInfoCart">
          <p class="price">Envio $</p>
          <p class="price">Subtotal $</p>
          <h2 class="name">Total $</h2>
        </div>
        <div iv class="nuevoCart">
          <button type="sumbit" class="botonCart edit">Confirmar compra</button>
        </div>-->        
      </article>


      <%- include('../partials/footer')%>
        <script src="/js/products/cart.js"></script>
  </body>

</html>