<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Impact X | Productos"})%>

  <body>
    <%- include('../partials/header')%>

      <main class="mainProducts">
        <article class="tarjetaProductos">
          <div class="containerImagenProductos">
            <img class="productoImagen" src="/img/imgProduct.png" alt="imagen producto">
          </div>
          <div class="containerInfoProductos">
            <h2>Sistemas Personalizados</h2>
            <p>$10.000</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, minima!</p>
            <div>
              <a class="botonProductos" href="">ADD TO CART</a>
              <a class="botonProductos" href="">COMPRAR AHORA</a>
            </div>
          </div>
        </article>

      </main>

      <%- include('../partials/footer')%>
  </body>

</html>