<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Create Product"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/productos/create" method="post" class="create-form" enctype="multipart/form-data">
        <div class="content">
          <div>
            <h2 class="titulo-registrar-usuario">Crear Nuevo Producto</h2>
            <div class="control-formulario">
              <select class="control" name="category" id="">
                <option value="producto" name="category">Producto</option>
                <option value="servicio" name="category">Servicio</option>
              </select>
              <input type="text" name="product" class="control" placeholder="Nombre" />
              <textarea type="text" name="desc" class="control" placeholder="Descripción" ></textarea>
              <input type="number" name="price" class="control" placeholder="Precio" />
              <input type="file" name="image" class="control" />
            </div>
            <button type="submit" class="botonContactanos">Agregar Producto</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>

      
      <script>
        const menu = document.querySelector('.svgMenu')
        const close = document.querySelector('.closeBtn')
        const nav = document.querySelector('#navPrincipal')

        menu.addEventListener('click', () => {
          nav.classList.add('open-nav')
        })
        close.addEventListener('click', () => {
          nav.classList.remove('open-nav')
        })
      </script>
  </body> 

</html>